.box-body {
	margin: auto auto;
	overflow: visible;
}

.box-header {
	font-size: larger;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.warn {
	display: inline-block;
	float: left;
	color: red;
	font-size: 6px;
}